.questionBox{
    width: 80vw;
    height: 100%;
    border: 1px solid red;
    margin : auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.questionBox .explanation{
    line-height: 1.5;
}


.questionBox .startButton{

}