
.questionBox{
    width: 100%;
    margin : 0;
    min-width: 320px;
    height: 100%;
    
}

.questionBox .openEndedQuestion .question{
    font-size: 18px;
    margin-bottom: 20px;
    position: absolute;
    top: 15%;
    left: 10%;
}

.questionBox .openEndedQuestion .answer{
    width: 250px;
    height: 30px;
    border: none;
    background-color: #eee;
    font-size: 14px;
    margin-left: 20px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.questionBox .openEndedQuestion .answer::placeholder{
    font-size: 12px;
}
.questionBox .timer{
    width:200px;
    height: 30px;
    position: absolute;
    top: 0;
    left:0;
    margin-left: 40px;
}