.QuestionBox{
    width: 100%;
    min-width: 320px;
    height: 100%;
    margin : 0;
    overflow: hidden;
}
.QuestionBox .timer {
    width: 200px;
    height: 50px;
    margin-left: 40px;
    
}

.QuestionBox .multiChoicesQuestion li {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 14px;
}

.QuestionBox .multiChoicesQuestion ul {
    margin-left: 120px;
}

.QuestionBox .multiChoicesQuestion .question {
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 80px;
}